
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

nav a {
  border-radius: 5px;
  box-shadow:0 1px 1px lightGreen, inset 0 1px 0 honeyDew;
  display:block;
  font-size:18px;
  font-family:"times new roman"; 
  text-decoration: none;
   background-color: rgba(124,0,252);
  color:Darkviolet;
  border: 1px solid RebeccaPurple;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  text-shadow: 0px 1px 0px white;
  width:250px;
   background-image: linear-gradient(DarkSlateBlue,Indigo);
  background-image: -webkit-linear-gradient(DarkSlateBlue,Indigo);
background-image: -moz-linear-gradient(DarkSlateBlue,Indigo);
background-image: -o-linear-gradient(DarkSlateBlue,Indigo);
 background-image: linear-gradient(DarkSlateBlue,Indigo);
}

a {
  font-family:"times new roman"; 
  background-image: -webkit-linear-gradient(DarkSlateBlue,Indigo);
background-image: -moz-linear-gradient(DarkSlateBlue,Indigo);
background-image: -o-linear-gradient(DarkSlateBlue,Indigo);
 background-image: linear-gradient(DarkSlateBlue,Indigo);
}

article img {
  float: left;
}

.for-now {
position: absolute;
}

body {
  width: 100%;
  color: white;
  border: 2px solid BlueViolet;
  border-radius: 15px;
  padding: 10px;
  font-family: "Gajraj One"
  
}

nav a:hover {
  box-shadow:0 1px 1px lightGreen, inset 0 1px 0 honeyDew;
  border-radius: 20px;
  display:inline-block;
  font-size:36px;
  font-family:"times new roman"; 
  text-decoration: none;
   background-color: rgba(124,0,252);
  color:DeepSkyBlue;
  border: 1px solid RebeccaPurple;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:500px;
  margin-right:10px;
  padding:20px;
  text-align: center;
  text-shadow: 0px 1px 0px white;
  width:250px;
   background-image: linear-gradient(Darkviolet,Indigo);
  background-image: -webkit-linear-gradient(Darkviolet,Indigo);
background-image: -moz-linear-gradient(Darkviolet,Indigo);
background-image: -o-linear-gradient(Darkviolet,Indigo);
 background-image: linear-gradient(Darkviolet,Indigo);
}

a:visited {
  background-image: -webkit-linear-gradient(DarkSlateBlue,DarkRed);
background-image: -moz-linear-gradient(DarkSlateBlue,DarkRed);
background-image: -o-linear-gradient(DarkSlateBlue,DarkRed);
 background-image: linear-gradient(DarkSlateBlue,DarkRed);
  font-family:"times new roman"; 
}

nav a:visited {
  border-radius: -2px;
  box-shadow:0 1px 1px lightGreen, inset 0 1px 0 honeyDew;
  display:block;
  font-size:9px;
  font-family:"times new roman"; 
  text-decoration: strikethrough;
   background-color: rgba(124,0,252);
  color:Darkviolet;
  border: 1px solid crimson;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  text-shadow: 0px 1px 0px black;
  width:125px;
   background-image: linear-gradient(DarkSlateBlue,DarkRed);
  background-image: -webkit-linear-gradient(DarkSlateBlue,DarkRed);
background-image: -moz-linear-gradient(DarkSlateBlue,DarkRed);
background-image: -o-linear-gradient(DarkSlateBlue,DarkRed);
 background-image: linear-gradient(DarkSlateBlue,DarkRed);
}

 html {
 background-image:url(https://images.unsplash.com/photo-1537147347432-676815edd56c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80);
}

footer {
 border: 4px dotted grey;
  color: darkslateblue;
}

footer a {
    border-radius: 10px;
  box-shadow:0 1px 1px lightGreen, inset 0 1px 0 honeyDew;
  display:inline-block;
  font-size:9px;
  text-decoration: none;
   background-color: rgba(124,0,252);
  color:Darkviolet;
  border: 1px solid RebeccaPurple;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:auto;
  margin-right:auto;
  padding:2px;
  text-shadow: 0px 1px 0px white;
  width:50px;
   background-image: linear-gradient(DarkSlateBlue,Indigo);
  background-image: -webkit-linear-gradient(DarkSlateBlue,Indigo);
background-image: -moz-linear-gradient(DarkSlateBlue,Indigo);
background-image: -o-linear-gradient(DarkSlateBlue,Indigo);
 background-image: linear-gradient(DarkSlateBlue,Indigo);
}

footer a:hover {
  border-radius: 10px;
  box-shadow:0 1px 1px lightGreen, inset 0 1px 0 honeyDew;
  display:inline-block;
  font-size:9px;
  text-decoration: none;
   background-color: rgba(124,0,252);
  color:deepskyblue;
  border: 1px solid purple;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:5px;
  margin-right:5px;
  padding:2px;
  text-shadow: 0px 1px 0px white;
  width:50px;
   background-image: linear-gradient(SlateBlue,Indigo);
  background-image: -webkit-linear-gradient(SlateBlue,Indigo);
background-image: -moz-linear-gradient(SlateBlue,Indigo);
background-image: -o-linear-gradient(SlateBlue,Indigo);
 background-image: linear-gradient(SlateBlue,Indigo);
}

#music-i-made {
  background-image: url(https://images.unsplash.com/photo-1516653980844-c68df1de5249?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

#music-i-made h1:hover {
  color: rgba(255,255,255, 0.0);
}

#music-i-made a {
  border-radius: 5px;
  box-shadow:0 1px 1px DarkOrange, inset 0 1px 0 gold;
  display:block;
  font-size:18px;
  text-decoration: none;
   background-color: DarkKhaki;
  color: gold;
  border: 1px solid orange;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  text-shadow: 0px 1px 0px black;
  width:250px;
   background-image: linear-gradient(Goldenrod,olive);
  background-image: -webkit-linear-gradient(Goldenrod,olive);
background-image: -moz-linear-gradient(Goldenrod,olive);
background-image: -o-linear-gradient(Goldenrod,olive);
 background-image: linear-gradient(Goldenrod,olive);
}

h1:active {
 background-color:white;
  text-decoration: underline;
  font: italic;
}

sup {
  color: grey;
  border: 3px solid lavender ; 
}
